.navbar {
  border-bottom: 1px solid grey;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.navbar h1 {
  font-size: 35px;
}
