.card {
  text-align: centre;
  background-color: #1e2030;
  border: 1;
  border-radius: 25px;
  margin: 10px;
  padding: 15px;
}

main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
